params {
    /*
    ---------------------------------------------------------------------
        Demultiplexing behavior options
    ---------------------------------------------------------------------
    */
    // number errors allowed
    // passed directly to the `--errors` argument of cutadapt
    errors = 0
}


singularity {
    enabled = true
    cacheDir = "${SCRATCHDIR}/singularity/"
    autoMounts = true
}


/*
---------------------------------------------------------------------
    Import config files
---------------------------------------------------------------------
*/
includeConfig 'conf/containers.config'
includeConfig 'conf/isaac.config'
