singularity {
    enabled = true
    cacheDir = "${SCRATCHDIR}/singularity/"
    autoMounts = true
}


/*
---------------------------------------------------------------------
    Import config files
---------------------------------------------------------------------
*/
includeConfig 'conf/containers.config'
includeConfig 'conf/isaac.config'
