params {
    /*
    ---------------------------------------------------------------------
        Demultiplexing behavior options
    ---------------------------------------------------------------------
    */
    // number errors allowed
    // passed directly to the `--errors` argument of cutadapt
    errors = 0

    /*
    ---------------------------------------------------------------------
        Read copying behavior
    ---------------------------------------------------------------------
    */
    // should reads be copied? I usually only turn this off for 
    skipCopyReads = true
}


singularity {
    enabled = true
    cacheDir = "${SCRATCHDIR}/singularity/"
    autoMounts = true
}


/*
---------------------------------------------------------------------
    Import config files
---------------------------------------------------------------------
*/
includeConfig 'conf/containers.config'
includeConfig 'conf/isaac.config'
